
body{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.main{
    background-color: aqua;
    width: 450px;
}

.heading{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    
}